* {
    box-sizing: border-box;
  }
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02857em;
}
/*grid for semantic elements*/
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.4fr 2fr 6fr 1.6fr;
    grid-template-areas:
        "menu"
        "header"
        "main"
        "footer";
    
       
}

#menu {
    grid-area: menu;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.w3top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.w3-white,
.w3-hover-white:hover {
    color: rgb(239, 230, 230) !important;
    background-color: rgb(9, 2, 2) !important;
}

.w3-padding {
    padding: 10px 13px !important;
}

.w3-card,
.w3-card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

.w3-bar {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: 8px;
    overflow: hidden;
}

.w3-right {
    float: right !important;
}

.w3-bar .w3-bar-item {
    padding: 10px 25px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 30px;


}

.div1 {
    padding-top: 150px;
    text-align: center;
    width: auto;
    background-color: black;
    width: 103%;
    margin-left: -9px;
    border: 1px solid rgb(40, 40, 62);
    box-shadow: 0 7px 5px 0 rgb(0 0 0 / 16%), 0 5px 10px 0 rgb(0 0 0 / 12%);
    padding-bottom: 40px;
}

.div12 {

    text-align: center;
    width: auto;
    padding-top: 35px;

}

#Education {
    background-color: black;
    color: white;
    margin-top: 70px;
    margin-left: -10px;
    margin-right: -9px;
    padding-bottom: 25px;
    border: 1px solid rgb(40, 40, 62);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 16%), 0 5px 10px 0 rgb(0 0 0 / 12%);
}

.div3 {
    padding-top: 70px;
    text-align: center;
    width: auto;



}

.hire {
    font-size: 2.0rem;
    background-color: black;
    color: white;
    float: left;
    padding-top: 50px;
    padding-left: 29px;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    


}

.name {
    font-size: 4rem !important;
    font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 10px;
    color: white;

}

.name2 {
    letter-spacing: 0.02857em;
    font-size: 24px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}

.name2color {
    color: white;
}

.icon {
    padding-top: 20px;
    padding-bottom: 25px;
}

.icon2 {
    padding-right: 5.5px;
}

.icon22 {
    padding-right: 5.5px;
    border-radius: 50%;
    border: grey;
}

.hey {
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.MuiContainer-root {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 120px;
}

.edu {
    padding: 25px 129px;
}

.inov {
    padding: 25px 120px;
}

#Experience {
    background-color: black;
    color: white;
    margin-top: 70px;
    margin-left: -10px;
    margin-right: -9px;
    padding-bottom: 25px;
    border: 1px solid rgb(40, 40, 62);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 16%), 0 5px 10px 0 rgb(0 0 0 / 12%);
}
/*flex for the display of blogs in a responsive manner*/
.blog {
    padding-bottom: 7px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;


}

#div2 {
    background-color: rgb(39, 51, 119);
    width: 400px;
    height: auto;
    color: white;
    text-decoration: none;
}

#div22 {
    background-color: rgb(233, 20, 37);
    width: 400px;
    height: auto;
    color: white;
    text-decoration: none;
}

#div23 {
    background-color: rgb(10, 116, 219);
    width: 400px;
    height: auto;
    color: white;
    text-decoration: none;
}

.di {
    display: inline-block;
    display: flex border: 5px solid white;
    padding: 15px;
    margin: 5px;
}

.dicon {
    display: inline-block;
    border: 1px solid black;
    float: left;
    padding: 15px;
    margin: 5px;


}

.dinav {
    display: inline-block;
    border: 1px solid black;
    float: right;
    padding: 15px;
    margin: 5px;
}

.dinavpad {
    padding-bottom: 16px;
}

#contactbar {
    grid-area: contactbar;
    background-color: black;
    width: 300px;
    height: 300px;
}

#nav {
    grid-area: nav;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    height: auto;

}

.copyright {
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    margin-bottom: -10px;
    margin-top: 10px;
    color: white;
    padding: 5px;
}

.color {
    padding-left: 15px;
    color: white;
}

.color2 {
    padding-left: 5px;
    color: white;
}

.color3 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #00acff;
}

.wide {
    background: black;
    color: white;
    display: inline-block;
    margin-bottom: -10px;
}

#topnav .iconic {
    display: none;
}
/*grid for footer elements*/
#contact {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas:
        "contactbar nav";
    grid-gap: 0.5rem;

}
/*responsive media for below 600px*/
@media screen and (max-width:685px) {
    body {
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.00735em;
    }

    #topnav a {
        display: none;
    }

    #topnav a.iconic {
        padding-top: 6px;
        font-size: 14px;
        color: aliceblue;
        padding-right: 25px;
        float: right;
        display: block;
    }

    #topnav.responsive {
        position: relative;
    }

    #topnav.responsive a.iconic {
        padding-top: 5px;
        position: absolute;
        right: 0;
        top: 0;
    }

    #topnav.responsive a {

        float: none;
        display: block;
        text-align: left;

    }

    .w3-bar .w3-bar-item {
        padding: 10px 25px;
    }

    .hire {
        display: none;
    }

    .name {
        font-size: 2rem !important;
    }

    .name2 {
        font-size: 12px !important;


    }

    .dinav {
        float: left;
    }

    .color3 {
        font-size: 12px;
    }
  /*responsive grid for footer elements */
    #contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas:
            "contactbar"
            "nav";
        grid-gap: 0.1rem;
        

    }

    .copyright {
        margin-top: 10px;
    }

    #contactbar {
        grid-area: contactbar;
        height: 275px;
        width: 200px;
    }


}
/*responsive media for the below 900 px to 665 px */

@media only screen and (min-width: 665px) and (max-width: 900px) {
    body {
        font-size: 12px;
        line-height: 1.4;
        letter-spacing: 0.02235em;
    }

    .w3-bar .w3-bar-item {
        padding: 10px 18px;
    }

    .hire {
        font-size: 1.5rem;
    }

    .name {
        font-size: 3rem !important;
    }

    .name2 {
        font-size: 18px !important;

    }

}

@media screen and (max-width:900px) {
    .MuiContainer-root {
        padding: 30px;

    }

    #Education {
        margin-top: 0px;
    }

    .edu {
        padding: 25px 40px;
    }

    .div3 {
        padding-top: 20px;
    }

    .inov {
        padding: 25px 30px;
    }

    #Experience {
        margin-top: 20px;
    }

    .blog {
        margin-left: 0px;
    }

}